<div class="clearfix"></div>
<footer class="footer">
  <p>
    &copy; {{ site.name | escape }} {{ now | localized_date: '%Y' }}
    {% for locale_string in locales %}
      {% unless locale_string == locale %}
        | <a href="/{{ locale_string }}">{{ locale_string | translate }}</a>
      {% endunless %}
    {% endfor %}
  </p>
</footer>