/* make Open Sans the default font */
body * {
  font-family: 'Open Sans', sans-serif;
}

/* home page */
body.page-index .jumbotron {
  color: #fff;
  text-align: justify;
  background-image: url('../images/new_york_at_night.jpg');
  background-position: center top;
}
body.page-index .jumbotron {
  padding-top: 10px;
  padding-bottom: 25%;
}

/* posts.liquid */
body.page-posts div.post-listing {
  margin-bottom: 20px;
}

/* posts/content_type_template.liquid */
article.post p.tags span {
  margin-left: 10px;
}

article.post h3.posted-at {
  font-size: 20px;
  margin-top: 0px;
  color: #999;
}

/* the footer */
footer {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
}

footer p {
  padding: 10px;
  text-align: center;
}

/* a nice frame for images */
div.img-box {
  border-width: 5px;
  border-style: solid;
}

div.img-box img {
  max-width: 100%;
}

div.img-box p {
  margin: 5px;
  text-align: center;
}

/* if they click on a boxed image, enlarge it */
#lightbox {
  position: fixed;
  top: 0px; left: 0px;
  width: 100%; height: 100%;
  padding-bottom: 50px;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
}

#lightbox img {
  max-width: 100%;
  max-height: 100%;
}

#lightbox p {
  background-color: #000;
  color: #fff;
}

/* phones */
@media (max-width: 767px) {
  body.page-about .img-box {
    width: 300px;
    margin: 0px auto 10px auto;
  }

  h1, h2 { text-align:center; }
}

/* tablets and up */
@media (min-width: 768px) {
  body.page-about .img-box {
    width: 400px;
    margin-left: 20px;
    float: right;
  }
}