---
title: About

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 1

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block 'main' %}

  <p>
      Thanks for visiting Wisdom for Wanderers!
      This blog aims to introduce readers to cool things to see, eat, and do all over the world.
      And along the way, I'll share some handy travel tips that can make wandering the globe easier and more fun than ever. The blog tends to focus on sights and places a little off the tourist trail, so unadventurous beware.
  </p>

  <p>
      I hope you enjoy the site and bon voyage!
  </p>

{% endblock %}
