---
title: Post Template
listed: false
published: true
content_type: posts
---
{% extends parent %}

{% block main %}

<article class="post">
  <h3 class="posted-at">
    Posted at {{ post.posted_at | localized_date: '%-I:%M %p' }} on {{ post.posted_at | localized_date: '%B, %-d %Y' }}
  </h3>

  {% if post.tags %}
    <p class="tags">
      <i class="glyphicon glyphicon-tags"></i>
      {% for tag in post.tags %}
        <span class="label label-primary">{{ tag | escape }}</span>
      {% endfor %}
    </p>
  {% endif %}
  <div class="body">
    {{ post.body }}
  </div>
</article>

{% endblock %}